.primary-color {
	background-color: rgba(25, 133, 162, 0.9) !important;
}
.card {
	padding-top: 1.25rem;
}
.card-img-top {
	max-width: 100%;
	width: 50%;
	margin: 0 auto;
}

.card-deck {
	margin-bottom: 1.5rem;
}

.btn-primary {
	background-color: rgb(191, 177, 31) !important;
	color: #fff !important;
	width: fit-content;
	margin: 0 auto;
}

.card-title {
	margin-top: auto;
}
ol.breadcrumb {
	background: transparent;
}
